.carousel-container {
    position: relative;
    top: -100px;
    z-index: 500;
    margin: 0 30px;
}

.carousel {
    height: 350px;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.carousel .switchLeft,
.carousel .switchRight {
    color: lightgrey;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 300px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
}

.carousel .switchLeft span:hover,
.carousel .switchRight span:hover {
    color: white;
}

.carousel .switchLeft {
    position: absolute;
    left: -50px;
}

.carousel .switchRight {
    position: absolute;
    right: -50px;
}

.carousel-title {
    width: 100%;
    text-align:left;
    font-weight: 600;
    margin: 0px 6px;
}

.carouselBox {
    height: 350px;
    width: auto;
    padding: 20px 0px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    display: flex;
}

.carouselBox .opera {
    min-width: 132px;
    max-width: 132px;
    height: 198px;
    margin: 0 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    border-color: 1px solid red;
}

.carouselBox .opera:hover {
    transform: scale(1.1);
    z-index: 5;
}

.carouselBox .opera img {
    height: 198px;
    border-radius: 4px;
    background-size: cover;
}

.carouselBox .opera .opera-overlay {
    position: relative;
    top: -198px;
    background: rgba(0, 0, 0, 0);
    padding: 60px 10px;
    height: 198px;
    width: 132px;
    border-radius: 4px 4px 0px 0px !important;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s ease;
    text-align: center;
}
.carouselBox .opera .opera-overlay i {
    display: none;
    font-size: 50px;
    transition: 0.1s ease;
}

.carouselBox .opera:hover .opera-overlay {
    background: rgba(0, 0, 0, 0.600);
}
.carouselBox .opera:hover .opera-overlay i {
    display: block;
}

.carouselBox .opera .opera-icon {
    color: #fff;
    padding: 0px !important;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.carouselBox .opera .opera-body {
    width: 132px;
    height: 80px;
    padding: 5px 10px 5px;
    position: relative;
    background-color: #141414;
    border-radius: 4px;
    top: -245px;
    z-index: -10;
    transition: all 0.2s linear;
}

.carouselBox .opera:hover .opera-body {
    top: -205px;
}

.carouselBox .opera .opera-info {
    padding-top: 10px;
    font-size: 10px;
    text-align: left;
    color: grey;
}

.carouselBox .opera .opera-info p {
    padding: 0px;
    margin: 0px;
}

.carousel .opera .opera-more-info {
    padding-top: 10px;
}

.carouselBox .opera .opera-title {
    font-size: 12px;
    padding-top: 10px;
}