@media(max-width:767.98px) {
    .login-top {
        padding-left: 20px !important;
    }
    .navbar-brand img {
        width: 43px !important;
    }
    .nutflix-padding-left {
        padding-left: 10px !important;
    
    }
    .nutflix-padding-right {
        padding-right: 10px !important;
    }
    .nutflix-dropdown-box {
        display: inline-block !important;
    }
    .nutflix-nav {
        display: none;
    }
    i {
        font-size: 15px;
        cursor: pointer;
        padding: 5px !important;
    }
    .netflix-profile {
        margin-left: 5px !important;
    }
    .nutflix-showcase .content .left {
        margin-left: 25px !important;
    }
    .nutflix-showcase .content .left img {
        max-width: 20%;
    }
    .nutflix-showcase button {
        font-size: 10px !important;
        width: max-content !important;
    }
    .nutflix-showcase button i {
        font-size: 10px !important;
    }
}