/* Variabili */
:root {
    --primary-color: #b77d00;
    --secondary-color: #37011d;
    --secondary-color-rgba: 55, 1, 42;
    --bg-color: #333b4d;
}

/* Generale */
body {
    overflow-x: hidden;
    position: relative;
}

/* Pagina di login */
.login-bg {
    background-color: #000000cb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.61)), url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 70px;
    background-color:rgba(10, 0, 19, 0.95);
    box-shadow: 0px 1px 6px #000000;
    padding: 0px 69px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 110px;
}

.login-box {
    background-color: rgba(10, 0, 10, 0.87);
    position: absolute;
    top: 25%;
    width: 430px;
    border-radius: 5px;
    padding: 30px 50px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

/* -- Homepage --*/
.home-bg {
    background: var(--bg-color);

}

/* Navbar */
.nutflix-navbar {
    height: 70px;
    background: rgba(10, 0, 19, 0);
    transition: all 0.8s ease-out;
}

.nutflix-navbar.scrolled {
    background-color: rgba(var(--secondary-color-rgba), 0.95);
}

.nutflix-row {
    width: 100vw;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.nutflix-padding-left {
    padding-left: 57px !important;

}

.nutflix-padding-right {
    padding-right: 57px !important;
}

.navbar-brand img {
    width: 110px;
}

.nutflix-dropdown-box {
    display: none;
}

.nutflix-dropdown {
    background-color: transparent;
    color:  #fff;
    border: none;
    font-size: 10px;
}

.nutflix-dropdown-box .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.795);
    color:  #fff;
    border: none;
    font-size: 10px !important;
    margin-left: -80px;
    border: 1px solid rgb(17, 17, 17);
    border-top: 3px solid #fff;
    border-radius: 2px;
    margin-top: 20px !important;
    padding: 0px;
}

.nutflix-dropdown-box .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    width: 250px;
    font-size: 12px;
    padding: 14px 20px;
    transition: all 0.3s linear;
}

.nutflix-dropdown-box .dropdown-menu .dropdown-item:hover {
    background-color: rgba(122, 122, 122, 0.144);
    color: rgba(255, 255, 255, 0.795);
}

.nutflix-nav {
    display: inline-block;
    align-items: center;
}

.nutflix-nav button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.619);
    border: none;
    font-size: 13px;
}

.nutflix-nav button:hover {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 13px;
}

.nutflix-navbar i {
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
}

.nutflix-profile {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

/* Showcase */
.nutflix-showcase {
    width: 100%;
    position: relative;
    z-index: 10;
}

.nutflix-showcase video {
    width: 100%;
    position: relative;
    z-index: 10;
}

.nutflix-showcase .top {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 20;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.45) 50%, transparent);
}

.nutflix-showcase .bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    z-index: 20;
    background: linear-gradient(to bottom, transparent, var(--bg-color) 50%);
}

.nutflix-showcase button {
    opacity: 0.8;
    margin: 4px !important;
}

.nutflix-showcase button i {
    padding-right: 10px;
}

.nutflix-showcase .content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

.nutflix-showcase .content .left {
    width: 90%;
    margin-left: 50px;
}

.nutflix-showcase .content .left img {
    width: 40%;
    max-width: 200px;
    margin-top: 10%;
}