/* Generale */

body {
    overflow-x: hidden;
    position: relative;
}

/* Pagina di login */

.login-bg {
    background-color: #000000cb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.61)), url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 70px;
    background-color:rgba(10, 0, 19, 0.95);
    box-shadow: 0px 1px 6px #000000;
    padding: 0px 57px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 110px;
}

.login-box {
    background-color: rgba(0, 24, 34, 0.87);
    background-color: rgba(10, 0, 10, 0.87);
    position: absolute;
    top: 25%;
    width: 430px;
    border-radius: 5px;
    padding: 30px 50px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

/* -- Homepage --*/

.home-bg {
    background: #010711;
    background: #000;
}
/* Navbar */

.nutflix-navbar {
    background: rgba(10, 0, 19, 0.95);;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.nutflix-navbar.scrolled {
    background: rgba(10, 0, 19, 0.151);
}

.nutflix-row {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.nutflix-padding-left {
    padding-left: 57px !important;

}

.nutflix-padding-right {
    padding-left: 57px !important;
}

.navbar-brand img {
    width: 100px;
    display: inline-flex;
}

.nutflix-dropdown-box {
    display: none;
}

.nutflix-dropdown {
    background-color: transparent;
    color:  #fff;
    border: none;
    fon-size: 9px;
}

.nutflix-dropdown .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.795);
    color:  #fff;
    border: none;
    fon-size: 9px !important;
    margin-left: 80px;
    border-top: 3px solid #fff;
    margin-top: 30px;
}

.nutflix-dropdown .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}

.nutflix-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.11);
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}

