body {
    background-color: #141414;
    overflow-x: hidden;
    position: relative;
}

.login-bg {
    background-color: #000000cb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.61)), url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 70px;
    background-color:rgba(2, 29, 29, 0.945);
    box-shadow: 0px 1px 6px #000000;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 110px;
}

.login-box {
    background-color: rgba(0, 24, 34, 0.87);
    position: absolute;
    top: 25%;
    width: 430px;
    border-radius: 5px;
    padding: 30px 50px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

.nutflix-navbar {
    background: #a02121;
    position: fixed;
    z-index: 1000;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.nutflix-navbar.scrolled {
    background: rgba(10, 10, 10, 0.151);
}